node_modules
build
.git
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
.env
.env.*
coverage
*.log
tests
test
__tests__
*.test.js
*.spec.js
README.md
docs
public/robots.txt
public/manifest.json