node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.git
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
.env
.env.*
coverage
*.log
tests
test
__tests__
*.test.js
*.spec.js
README.md
docs